@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard-dynamic-subset.min.css");

:root {
  --black: #2A2A2A;
  --dark-gray: #444444;
  --gray: #6D6D6D;
  --light-gray: #C2C2C2;
  --primary-main: #35CCFF;
  --primary-sub: #E9FAFF;
  --background: #F6FDFF;
  --white: #FFFFFF;

  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  /*!* 기본 폰트/foreground 색상 *!*/
  /*--foreground: #171717;*/
}

/* 다크모드 대응 */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: var(--white);
    /* 나머지는 필요에 따라 추가 */
  }
}

/* 이하 기존 코드 유지 */
html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
